@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Secular+One&display=swap');

.background {
    background: url(clearing.jpg) no-repeat center center fixed;
    background-size: cover;
}

.top {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);
}

.top a {
    text-decoration: none;
    font-family: Secular One;
    font-size: 30px;
    color: rgb(97, 11, 11);
    text-shadow:2px 1px rgb(201, 197, 197);
}

.top a:hover {
    color:seashell;
}

.cat {
    position: relative;
    border-radius: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 80%;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,1);
    box-shadow: 1px 2px 3px rgba(0,0,0,1);
}

.gull {
    position: relative;
    border-radius: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 80%;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,1);
    box-shadow: 1px 2px 3px rgba(0,0,0,1);
}

.bottle {
    position: relative;
    border-radius: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28%;
    height: 68%;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,1);
    box-shadow: 1px 2px 3px rgba(0,0,0,1);
}

.clock {
    position: relative;
    border-radius: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 40%;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,1);
    box-shadow: 1px 2px 3px rgba(0,0,0,1);
}

.dave {
    position: relative;
    border-radius: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 50%;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,1);
    box-shadow: 1px 2px 3px rgba(0,0,0,1);
}

.header {
    text-align: center;
    color: rgb(97, 11, 11);
    font-family: Indie Flower;
    background-color:rgba(0, 0, 0, 0.3);
    font-size: 36px;
    text-shadow:2px 1px rgb(201, 197, 197);
}

.poem {
    text-align: center;
    box-sizing: border-box;
    padding: 75px;
    background-color:rgba(0, 0, 0, 0.3);
    color:rgb(230, 224, 224);
    text-shadow:2px 2px rgb(0, 0, 0);
    font-family: Indie Flower;
    font-size: 28px;
    width: auto;
}

.intro {
    text-align: center;
    box-sizing: border-box;
    padding: 75px;
    background-color:rgba(0, 0, 0, 0.3);
    color:rgb(230, 224, 224);
    text-shadow:2px 2px rgb(0, 0, 0);
    font-family: Indie Flower;
    font-size: 28px;
    width: auto;
}

.intro a {
    text-decoration: none;
    color: rgb(97, 11, 11);
    text-shadow:2px 1px rgb(201, 197, 197);
}

.intro a:hover {
    color:rgb(230, 224, 224);
    text-shadow:2px 2px rgb(0, 0, 0);
}

.list {
    text-align: left;
    box-sizing: border-box;
    padding: 75px;
    background-color:rgba(0, 0, 0, 0.3);
    color:rgb(230, 224, 224);
    text-shadow:2px 2px rgb(0, 0, 0);
    font-family: Indie Flower;
    font-size: 24px;
    width: auto;
}

.bottom {
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);
}

.bottom a {
    text-decoration: none;
    font-family: Secular One;
    font-size: 28px;
    color: rgb(97, 11, 11);
    text-shadow:2px 1px rgb(201, 197, 197);
}

.bottom a:hover {
    color:seashell;
}